services:
  mysql:
    container_name: real-estate-portfolio-mysql
    restart: always
    image: mysql:latest
    volumes:
      - './build/package/docker/volumes/mysql/db:/var/lib/mysql'
      - './build/package/docker/volumes/mysql/mysqld.cnf:/etc/mysql/conf.d/mysqld.cnf'
    ports:
      - "${DB_PORT}:${DB_PORT}"
    env_file:
      - './build/package/docker/volumes/mysql/.env'
    networks:
      - real-estate-portfolio-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: real-estate-portfolio-phpmyadmin
    environment:
      - PMA_ARBITRARY=0
      - UPLOAD_LIMIT=600M
      - PMA_HOST=${DB_HOST}
      - PMA_PORT=${DB_PORT}
    volumes:
      - /sessions
    depends_on:
      - mysql
    links:
      - mysql
    ports:
      - '${DOCKER_PHPMYADMIN_PORT1}:${DOCKER_PHPMYADMIN_PORT2}'
    networks:
      - real-estate-portfolio-network

  go:
    container_name: real-estate-portfolio-go
    restart: always
    build:
      context: .
    environment:
      GOOSE_DRIVER: "${DB_DRIVER}"
      GOOSE_DBSTRING: "${DB_URI}"
      GOOSE_MIGRATION_DIR: "/migrations"
    volumes:
      - './configs/config.yml:/configs/config.yml'
      - './db/migrations:/migrations'
    ports:
      - 8085:8085
    networks:
      - real-estate-portfolio-network

networks:
  real-estate-portfolio-network:
    driver: bridge